body {
    background: linear-gradient(90deg, #444,#000);
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
   
}

.text {
    font-size: 25px;
    color: white;
    padding-left: 50px;
    
}

.image {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 50px;
    padding-bottom: 50px; 
}

img {
    width: 250px;
}

img:hover {
    transition: 1s;
    scale:1.1;

}
