body {
    background: linear-gradient(90deg, #444,#000);
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
   
}

.text {
    font-size: 25px;
    color: white;
    padding-left: 50px;
    
}

.image {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 50px;
    padding-bottom: 50px; 
}

img {
    width: 250px;
}

img:hover {
    transition: 1s;
    scale:1.1;

}

@media(max-width: 550px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        overflow-x: hidden;
    }
    .text {
        margin: 0 0 0 10%;
        padding: 0;
        font-size: 15px;
        
    }
    .image {
        padding-bottom: 5%;
    
    }
    img {
        width: 50%;
        margin: 0 0 0% 26%;
    }
    .prim {
        width: 100%;
        margin-left: 52%;
    }
    .terc {
        width: 100%;
        margin-left: 52%;
    }
    .container {
        grid-template-columns: none;
    }
    
}
